:root {
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--VeryDarkBlue: hsl(234, 12%, 34%);
--GrayishBlue: hsl(229, 6%, 66%);
--VeryLightGray: hsl(0, 0%, 98%);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0 auto;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--VeryLightGray);
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
    width: 80%;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    gap: 2em;
}

article {
    border-radius: .625rem;
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-top-style: ridge;
}

.supervisor {
    border-top-color: var(--Cyan);
}

.team {
    border-top-color: var(--Red);
}

.karma {
    border-top-color: var(--Orange);
}

.calc {
    border-top-color: var(--Blue);
}

h1 {
    font-size:1.5rem;
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 200;
}

.title {
    font-size: 1.4rem;
    padding-top: .5rem;
    padding-bottom: 0;
}

img {
    float: right;
}